<a href="/network/user/{{user.netid}}">state new conversations</a>

{{#if chat_list.length}}
<br>
{{#each chat_list}}
<a href="/chat/{{netid}}">{{firstName}}
  {{lastName}}</a>
<br>
{{/each}}

{{else}}
No communications yet
{{/if}}