<main class="max-w-7xl mx-auto py-8 px-6">
    <div class="bg-white shadow-md rounded-lg p-8">
                <div class="flex items-center justify-between space-x-6">
<h1 class="text-3xl font-semibold text-indigo-600">{{profiledUser.firstName}} {{profiledUser.lastName}}
                </h1> <a href="/chat/{{profiledUser.netid}}"
                class="bg-indigo-600 text-white py-2 px-6 rounded-lg hover:bg-indigo-700">
                Send Message
            </a>
                </div>
                
                <p class="text-xl text-gray-600">{{profiledUser.netid}}</p>
                <p class="text-lg text-gray-500">{{profiledUser.email}}</p>
                <p class="text-lg text-gray-500">Class Year: {{profiledUser.classYear}}</p>
                <p class="mt-2 text-lg font-medium text-gray-800">Karma: {{profiledUser.karma}}</p>           
    </div>

    <!-- Courses Section -->
    <div class="mt-8 flex space-x-8">
        <!-- Enrolled Courses -->
        <div class="flex-1">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Enrolled Courses</h2>
            {{#if courses}}
            <ul class="space-y-4">
                {{#each courses}}
                <li class="bg-gray-50 p-4 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold text-indigo-600">{{courseName}} ({{semester}})</h3>
                    <p class="text-gray-600">Course Number: {{courseNumber}}</p>
                    <a href="/courses/leave/{{_id}}"
                        class="text-indigo-600 bg-gray-100 px-3 py-1 rounded hover:bg-indigo-600 hover:text-white transition-colors">
                        Leave Course
                    </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="text-gray-500">You are not enrolled in any courses yet.</p>
            {{/if}}
        </div>

        <!-- Contributed Courses -->
        <div class="flex-1">
            <h2 class="text-2xl font-semibold text-gray-800 mb-4">Courses Contributed</h2>
            {{#if courses_contributed}}
            <ul class="space-y-4">
                {{#each courses_contributed}}
                <li class="bg-gray-50 p-4 rounded-lg shadow-md">
                    <h3 class="text-xl font-semibold text-indigo-600">{{courseName}} ({{semester}})</h3>
                    <p class="text-gray-600">Course Number: {{courseNumber}}</p>
                    <a href="/courses/delete/{{_id}}"
                        class="text-indigo-600 bg-gray-100 px-3 py-1 rounded hover:bg-indigo-600 hover:text-white transition-colors">
                        Delete Course
                    </a>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p class="text-gray-500">You have not created any courses yet.</p>
            {{/if}}
        </div>
    </div>
</main>